.page-header{
  
    max-width: 940px;
    /* height: 200px; */
    margin: 0 auto 100px;
/* background-color: #95e1d3; */

}

.conteiner{
    display: flex;
    flex-basis: 9400px;
    margin: 0 auto;
    /* background-color: cornsilk; */
    outline:1px solid #fed136;
}

.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    
}

.site-logo{
    /* border: 1px solid red; */
    font-size: 30px;
    font-family: 'Montserrat Subrayada', sans-serif;
        color: #fed136;
        font-weight: bold;
        text-decoration: none;

}

.header-menu{
    display: flex;
    list-style-type: none;
    /* border: 1px solid gold; */
    /* align-self: center; */
    margin: 0;
    padding: 0;  
    flex-basis: 490px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-menu a{
    text-decoration: none;
    color: #303030;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
}
.header-menu a:hover{
    color:#fed136;
    /* border-bottom: 3px solid #f38181; */
    width: 164px;
    margin: 30px auto 90px;
    padding-bottom: 12px;
}
/* ХЕДЕР САЙТА------------------------КОНЕЦ */

.services{
    outline:1px solid #fed136;
    max-width: 290px;
    height: 90px;
    margin:0 auto;
}  
.services-text{
    font-size: 40px;
    /* font-family: "Montserrat"; */
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin:10px 0px;
}
.services-text-second{
    font-size: 16px;
    /* font-family: "DroidSerif"; */
    color: rgb(119, 119, 119);
    font-style: italic;
    /* line-height: 1.2; */
    text-align: center;
    margin: 0px;
}
  
  /* ТРИ БЛОКА С КАРТИНКАМ */

  .info-cart{
      max-width: 940px;
      margin: 40px auto;
      outline:1px solid #fed136;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
  }
.info-cart__list{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    
    margin: 0;
    padding: 0;
}
  .info-cart__list__block{
      flex-basis: 290px;
      height: 220px; 
      background-color: aliceblue;
  }
.block{
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center ;
}
.info-cart-img{
      background-image: url(/work-7/img/icon/icon-1.png);
  }
.list-icon-center{
   background-image: url(/work-7/img/icon/icon-2.png); 
  }
.info-cart-img-2{
    background-image: url(/work-7/img/icon/icon-1.png);
}
.list-icon-center-2{
 background-image: url(/work-7/img/icon/icon-3.png); 
}
.info-cart-img-3{
    background-image: url(/work-7/img/icon/icon-1.png);
}
.list-icon-center-3{
 background-image: url(/work-7/img/icon/icon-4.png); 
}

  .title-cart{
    font-size: 18px;
    /* font-family: "Montserrat"; */
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-align: center;
  }

  .desc-cart{
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    text-align: center;
  }
  

  /* ЗАПОЛНЕНИЕ КОНТАКТОВ */
  .black-block{
     
background-color: #222222;
background-image: url(/work-7/img/icon/map.png);
background-repeat: no-repeat;
background-position: right;
width: 100%;
height: 1000px;


  }

/* .contact{
  max-width: 940px;
  margin: 40px auto;
  
} */

.contact-us{
    
    outline:1px solid #fed136;
    max-width: 290px;
    height: 90px;
    margin:0px auto;
    /* padding-top: 100px; */
}
.contact-text{
    font-size: 40px;
    /* font-family: "Montserrat"; */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin:10px 0px;
}
.contact-text-second{
    font-size: 16px;
    /* font-family: "DroidSerif"; */
    color: rgb(119, 119, 119);
    font-style: italic;
    /* line-height: 1.2; */
    text-align: center;
    margin: 0px;
}


.list-input-forms{
    list-style-type: none;
}



.send-form{
    display: flex;
    /* flex-direction: row; */
    max-width: 940px;
    height: 440px;
    outline: 1px solid #fed136;
    margin:50px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-block{
    /* display: flex; */
    width: 49%;
    /* height: 260px; */
   /* flex-direction: column; */
   /* margin-right: 30px; */
}

.recording-line{
    /* flex-direction: column; */
    width: 455px;
    height: 50px;
    margin-top: 30px;
   
}
.textarea-class{
  
    resize: none;
    width: 455px;
    height: 224px;
    margin-top: 30px;
}
.textarea{
display: flex;
    width: 49%;
}

.send-message{

    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    border:none;
    padding: none;
    width: 240px;
    height: 66px;
    border-radius: 3px;
    background-color: rgb(254, 209, 54);
    cursor: pointer;
    display: block;
}


  
