*{
      /* outline: 1px solid #2ee65c;  */
     margin: 0;
     padding:0;
   
     box-sizing: inherit;
   }
   body{
      /* background-color: #e9f0fd; */
   }
   html{
      box-sizing: border-box; 
      font-family: 'Roboto', sans-serif;
   }
   .page-header{
   max-width: 1110px;
   width: 100%;
   margin: 27px auto 30px auto;
   
  
   }
   .nav-menu{
   float: right; 
   padding-top:10px;  
   }
/* Меню для мобилки */
   .nav-menu-mob{
      float: right; 
      /* margin-top:5px; */
      margin-right: 25px;
      display: none;

      }
      .btn-menu:hover{
      background-color: white;
      color: #1abc9c;;
      border: 2px solid #1abc9c;
   }
      .btn-menu{
         width: 60px;
         height: 60px;
         background-color: #1abc9c;
         border:none;
         color: white;
         cursor: pointer;
      }


   .nav-menu a{
      color: black;
     
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
   }
   .nav-menu a:hover{
      color: rgb(26, 188, 156);
   }
   .logo{
      float: left;
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      font-weight: lighter;
      color:#555252;
   }
   .logo::first-letter{
      color: rgb(26, 188, 156);
      font-weight: 800;
     
   }

   

   .nav-menu li{
      float: left;
      list-style-type: none;
      padding-left: 35px;
      font-size: 18px;
   }
   .clearfix {
      content: "";
      display: table;
      clear: both;}
 
      .page-color{
         background-color: #e9f0fd;;
      }
       
       .page-sizes{
         width: 100%;
        
         background-color: #e9f0fd;

       }

   .block-name{
      margin-top: 100px;
      text-align: center;
      font-weight: bold;
      background-color: #e9f0fd;
      font-size: 48px;
      font-family: "Roboto";
      color: rgb(81, 81, 81);
      line-height: 0.667;
     
   }
   .block-name::after{
      content: '';
      display: block;
      border-bottom: 7px solid rgb(26, 188, 156);
      width: 164px;
      margin: 30px auto 90px;
   
     
      
   }
  


.product{
   /* width: 100%; */
   list-style:none;
  
   padding: 0;
   margin: 80px auto 0px auto;
   color: #e9f0fd;
   
   
}
.product li{
float:left;
}
.list-product{
  

   float: left;
   width: 255px;
   margin-right: 30px;
   margin-bottom: 30px;
   position: relative;
}
.list-product:nth-child(4){
   margin-right: 0px;
}
.list-product:last-child{
   margin-right: 0px;
}
.list-product::before{
content:'';
display: block;
height: 280px;
background-color: #e9f0fd;
}

.list-product:hover{
   box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
  

}

.list-product:hover .overlay{
   opacity: 1;
}
.list-product:hover .price{
   background-color: #7fd9c7;
}
.list-product:hover .card-name{
   background-color: #1abc9c;
}
.pro-img1::before{
   background-image: url(../img/product/product1.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   

}
.pro-img2::before{
   background-image: url(../img/product/product2.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.pro-img3::before{
   background-image: url(../img/product/product3.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.pro-img4::before{
   background-image: url(../img/product/product4.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}
.pro-img5::before{
   background-image: url(../img/product/product1.png);
   background-repeat: no-repeat;
   background-position: center;
}
.pro-img6::before{
   background-image: url(../img/product/product1.png);
   background-repeat: no-repeat;
   background-position: center;
}
.pro-img7::before{
   background-image: url(../img/product/product1.png);
   background-repeat: no-repeat;
   background-position: center;
}
.pro-img8::before{
   background-image: url(../img/product/product8.png);
   background-repeat: no-repeat;
   background-position: center;
}
.card-name{
   float: left;
   width: 200px;
   background-color: rgb(50, 50, 50);
   color: white;
   font-size: 18px;
   text-transform: uppercase;
   padding: 14px;
   
}

.overlay{
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 235px;
      height: 261px;
     top:10px;
     left:10px;
     opacity: 0;
    }
    .overlay-icon{
      position: absolute;
       height: 40px;
       top:80px;
       left:35px;
    }
    .overlay-icon li{
      margin-right:10px;
      list-style-type: none;
    }
    .overlay-icon li:last-child {
      margin-right:0px;
    }
    .overlay-icon-size{
      width:50px;
      height:50px;
      border:2px solid white;
      cursor: pointer;
   }
   .overlay-icon-size:hover{
background-color:#1abc9c;

   }
    .img-love{
      background-image: url(../img/icon/1.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    .img-arrows{
      background-image: url(../img/icon/2.png);
      background-repeat: no-repeat;
      background-position: center;
   }
   .img-clock{
      background-image: url(../img/icon/3.png);
      background-repeat: no-repeat;
      background-position: center;
   }
    .overlay-icon{
       display: inline-block;
     
    }

.overlay-button{
   position: absolute;
   margin-top:8px;
   border:2px solid white;
   width:169px;
   height: 50px;
   bottom:70px;
   left:35px;
   cursor: pointer;
}
.overlay-button:hover{
   background-color:#323232;
   color:white;
}
.overlay-button-img{
   padding-left: 10px;
   background-image: url(../img/icon/4.png);
   background-repeat: no-repeat;
   background-position: left;
   margin-left:10px;
}

.text{
   padding-top:7px;
   padding-left:30px;
  
}

.price{
   float: left;
   width: 55px;
   padding: 14px 10px;
   font-size: 18px;
   background-color: #8c8c8c;
   color: white;
   font-weight: bold;
}

.foot-block{
   height: 88px;
   background-color: #323232

}
.foot-block-text{
   text-align: center;
   padding-top:35px;

}
.foot-block-text a{
   color:#3d7d71;
   text-decoration: none;
}
/*СЛАЙДЕР КОД*/
.slider{
   /* display: block; */
  
   width: 100%;
   height:600px;
   background-image: url(../img/product/slide44.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center;
}

.center-slider{
   position: relative;
   max-width: 1110px;
   margin:  auto;
   height:100%;
}
.info-slider{
  width: 80%;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   text-align:center;

}
.slider-text{
 
   /* margin-top: 100px; */
   font-weight: bold;
   text-align: center;
   font-size: 48px;
   font-family: "Roboto";
   color: white;
   line-height: 0.667;
}
.slider-text-second{
   margin-top: 10px;
   
   text-align: left; 
   
   font-size: 18px;
   font-family: "Roboto";
   color: white;
   line-height: 0.667; 
   text-align:center;
}

.slider-ctrl{
   position: absolute;
   display: inline-block;
   border: none;
   width: 100px;
   height: 100px;
   background-color: rgb(78, 198, 171);
   opacity: 0.651;
   cursor: pointer;
   
}
.slider-ctrl-left{
   top: 50%;
   left:0%;
   transform: translateY(-50%);
   background-image: url(../img/icon/left.png);
   background-repeat: no-repeat;
   background-position: center;


}
.slider-ctrl-left:hover{
   opacity: 0.9;
}
.slider-ctrl-right{
   top: 50%;
   right:0%;
   transform: translateY(-50%);
   background-image: url(../img/icon/right.png);
   background-repeat: no-repeat;
   background-position: center;
} 
.slider-ctrl-right:hover{
   opacity: 0.9;
} 
.slider-pagination{
   position:absolute;
   bottom:1%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.slider-pagination-item{
   display: inline-block;
   
   width:85px;
   height: 5px;
   margin: 0px auto ;
}


.slider-pagination-item{
   background-color: tomato;
}
.slider-pagination-active{
   background-color: rgb(26, 188, 156);
}

/* не помню куда это и что */

.overlay-button img{
   float: left;
}
.overlay-button span{
margin-left: 10px;
}
.overlay-button .text {
   vertical-align: middle;
}

 @media (max-width: 1024px) { 
   .slider{ 
   height: 400px;
}
.slider-ctrl{
width: 70px;
height: 70px;
}
.slider-pagination-item{
width: 50px;
}
.info-slider{
   top:70%;
}
}
@media (max-width: 1108px) {
   .page-sizes{
      max-width:890px;
      margin: 0px auto;
   }
   .list-product{
      margin: 20px 20px; 
   
   }

} 
@media (max-width: 886px){
   .page-sizes{
      max-width:590px;
      margin: 0px auto;
   }
   .list-product{
      margin: 20px 20px; 
   
   }

}
@media (max-width: 768px) { 
   .nav-menu li{
      font-size: 16px;
      padding-left: 25px;
      /* padding-right:5px; */
   }
   .slider{ 
 height: 300px;
}
.slider-ctrl{
   width: 50px;
   height: 50px;
   } 
   .slider-pagination-item{
      width: 30px;
      }
      .info-slider{
         top:80%;
      }


.slider-text{
   font-size: 28px;
}
.slider-text-second{
   font-size: 14px;
}
.slider-pagination{
   display: none;
}

   .page-sizes{
      max-width:590px;
      margin: 0px auto;
   }
   .list-product{
      margin: 20px 20px; 
   
   }
   .nav-menu-mob{
      display: none;
   }
 }

 @media (max-width: 590px) { 
   .nav-menu{
      display: none;
   }
   .nav-menu-mob{
      display: table;
   }
   .page-sizes{
      width:290px;
      margin: 0px auto;
   }
   .list-product{
      margin: 20px 20px; 
   
   }
   .slider{ 
      height: 200px;
     }
     .block-name{
      font-size: 32px;
   }
 }


 @media (max-width: 425px) { 

   .block-name{
      font-size: 25px;
   }

   .slider-ctrl{
      display:none;
   }
   .slider-text{
      font-size: 22px;
   }
   .page-sizes{
      width:290px;
      margin: 0px auto;
   }
   .list-product{
      margin: 20px 20px; 
   
   }
 }