/* *{
    outline:2px solid red;
} */


.wrapper{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    
    
   
    margin: 0px auto;
    /* border: 1px solid red; */
}
main{
    /* align-items: stretch; */
    flex-grow:1;
    background-color: rosybrown;
}

footer{
    height: 50px; 
    background-color: skyblue;
}
/* ХЕДЕР САЙТА */
.conteiner{
    display: flex;
    flex-basis: 1200px;
    margin: 0 auto;
    background-color: cornsilk;
}

.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    
}

.site-logo{
    /* border: 1px solid red; */
    font-size: 30px;
    font-family: 'Montserrat Subrayada', sans-serif;
        color: #95e1d3;
        font-weight: bold;
        text-decoration: none;

}

.header-menu{
    display: flex;
    list-style-type: none;
    /* border: 1px solid gold; */
    /* align-self: center; */
    margin: 0;
    padding: 0;  
}

.header-menu{
   flex-basis: 490px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header-menu a{
    text-decoration: none;
    color: #95e1d3;
    font-size: 14px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
}

.header-menu a:hover{
    color:red;
}


/* ХЕДЕР САЙТА------------------------КОНЕЦ */

   /* БЛОК ТЕКСТА СЕРЕДИНА */
.section-conteiner{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100px;
    background-color: violet;
    justify-content: center;
    align-items: center;
    margin-top:100px;

}

.first-text{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color:#333333;

}

.second-text{
    font-size: 30px;
    font-family: 'Montserrat Subrayada', sans-serif;
    color:#333333;
    text-transform: uppercase;

}
  