/* *{
    outline:2px solid red;
} */


.wrapper{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    
    
   
    margin: 0px auto;
    /* border: 1px solid red; */
}
main{
    /* align-items: stretch; */
    /* flex-grow:1; */
    /* background-color: ivory; */
}

footer{
    height: 50px; 
    background-color: skyblue;
}






/* ХЕДЕР САЙТА */
.conteiner{
    display: flex;
    flex-basis: 1200px;
    margin: 0 auto;
    background-color: cornsilk;
}

.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    
}

.site-logo{
    /* border: 1px solid red; */
    font-size: 30px;
    font-family: 'Montserrat Subrayada', sans-serif;
        color: #95e1d3;
        font-weight: bold;
        text-decoration: none;

}

.header-menu{
    display: flex;
    list-style-type: none;
    /* border: 1px solid gold; */
    /* align-self: center; */
    margin: 0;
    padding: 0;  
    flex-basis: 490px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.header-menu a{
    text-decoration: none;
    color: #95e1d3;
    font-size: 14px;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: bold;
}

.header-menu a:hover{
    color:#f38181;
    border-bottom: 3px solid #f38181;
    width: 164px;
    margin: 30px auto 90px;
    padding-bottom: 12px;
}






/* ХЕДЕР САЙТА------------------------КОНЕЦ */

   /* БЛОК ТЕКСТА СЕРЕДИНА */
.section-conteiner{
    display: flex;
    flex-direction: column;
    width: 750px;
    /* height: 100px; */
    background-color: violet;
    justify-content: center;
    align-items: center;
    margin-top:100px;

}

.first-text{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color:#333333;

}

.second-text{
    font-size: 30px;
    font-family: 'Montserrat Subrayada', sans-serif;
    color:#333333;
    text-transform: uppercase;
}
  
.second-text::after{
    content: '';
    display: block;
    border-bottom: 3px solid #f38181;
    width: 60px;
    margin: 30px auto 0px;
 }






 
 /* СЕКЦИЯ С КАРТОЧКАМИ НА ФЛЕКСЕ */
 /* .section-conteiner{
    display: flex;
    flex-basis: 1200px;
    border: 10px solid gold;
 } */
 
 
 .section-cards-servise{
    display: flex;
    flex-basis: 1200px;
    margin: 0 auto;
    background-color: cornsilk;
    /* border: 1px solid gold; */
    /* align-content: flex-start; */
   
   
 }

 .servis-cards-ul{
     display: flex;
     flex-wrap: wrap;
     flex-basis: 1200px;
    list-style-type: none;
   /* align-content: flex-start; */
   justify-content: space-between;
   margin: 0 auto;
   
  
 }

 .card-servise{
   
    width: 350px;
    height: 125px;
    border:1px solid red;
 }

 /* h3::before{
    content: '';
     border: 1px solid black;
     width: 30px;
     height: 30px;
 } */

/* .section-text{
     padding-left: 70px;
 }
 .section-tex-second{
    padding-left: 70px;
 } */

 .card-servise::before {
    content: '';
    display: block;
    height: 32px;
    width: 32px;
    float: left;
    margin: 5px 30px 30px 0px;