*{
   /* outline: 1px solid #03a9f4;*/
    margin: 0;
    padding:0;
    font-family: 'Playfair Display', serif;
    box-sizing: inherit;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }


  .container{
    width: 901px;
    margin: 0 auto;
  }
  nav li{
    display: inline-block;
     list-style-type: none;
    text-decoration: none;
   font-size: 14px;
  
    
  }
  li a{
    color: black;
    text-decoration: none;
    width: 120px;
  
    }
  
  .nav-menu{
    margin:80px 0px 100px 0px;
    text-align: center;
    padding:0px;
  }
  
  .menu-width1{
    padding-right: 120px;
  }
  .menu-width2{ padding-right: 105px;}
  .menu-width3{padding-right: 95px;}
  .menu-width4{}
  
   .nav-menu a:hover {
    color: #03a9f4;
  }
  

  .block-news{
    display: inline-block;
    width: 420px;
    backgraund-color:#e6edee; 
   
  }
  .block-news:nth-child(odd){
  margin-right:57px;
  }
  .block-news:nth-child(-n+4){
   margin-bottom: 135px; 
  }


  .foto{
    width: 420px;
    height:280px;
    background-image: url(https://raw.githubusercontent.com/dima-kulikov/uroki-online/master/work-3/img/image-1.jpg);
}
.namber{
  background-image: url(https://raw.githubusercontent.com/dima-kulikov/uroki-online/master/work-3/img/image-2.jpg);
}

.ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    padding:20px 0px;
  }
 
  h2{
    color: rgb(98, 98, 98);
    font-size: 30px;
    margin-bottom: 45px;
  }

  button{
    display:block;
    font-size: 20px;
    border:1px solid rgb(98, 98, 98);
   background-color:white;
    margin:58px auto;
    width:165px;
    height: 60px;
    cursor: pointer;
  }

  
